

body {
    background-color: rgb(187, 184, 181);
 font-family: "Roboto Condensed", "sans-serif";
}
.weather-app {
    background: white;
    max-width: 500px;
     box-shadow: 0 30px 50px rgba( 65, 50, 100, 0.08);
     border-radius: 16px;
    margin: 30px auto;
    padding: 30px;
  }
  header {
    border-bottom: 1px solid #f9f7fe;
    padding: 0 0 30px 0; 
  }
.search-input {
    background-color: #f9f6fe;
    border: none;
    border-radius: 6px;
    width: 70%;
    padding: 16px 20px;
    font-size: 16px;
}
.search-button {
    background-color: blue;
    border-radius: 6px;
    padding: 16px 20px;
    border: none;
    color: white;
    margin-left: 10px;
    font-size: 16px;
}
.search-button:hover {
    background-color: rgb(95, 190, 245);
    cursor: pointer;
    color: black;
}
main {
    padding: 30px 0;
}
.weather-data {
    display: flex;
    justify-content: space-between;
}
.weather-city {
    margin: 0;
    font-size: 38px;
    line-height: 48px;
}
.weather-details {
    font-size: 16px;
    line-height: 20px;
    color: rgba(39, 33, 66, 0.6);
}
.weather-details strong {
    color: pink;
}
.weather-temperature {
    display: flex;
}
.weather-icon {
    font-size: 44px;
    color: yellow;
}
.weather-Num {
    font-size: 88px;
    font-weight: bold;
    margin-left: 15px;
}
.weather-degree {
    font-size: 28px;
    margin-top: 17px;
}
footer {
    border-top: 1px solid #f9f7fe;
    padding: 30px 0 0 0;
    font-size: 14px;
    color: rgba(0,0,0, 0.5);
    text-align: center;
    font-weight: bold;
}
